NODE_ENV=production
PORT=3000
SESSION_SECRET=
GIGACHAT_CLIENT_ID=019ea871-cc04-7a44-a26a-81d900652900
GIGACHAT_SECRET_KEY=MDE5ZWE4NzEtY2MwNC03YTQ0LWEyNmEtODFkOTAwNjUyOTAwOjIzNTIzNTkwLWE3YmQtNGRkMi1iOWM5LTM0MDVlZDZmMjA4Ng==
GIGACHAT_SCOPE=GIGACHAT_API_PERS
GIGACHAT_MODEL=GigaChat
DATABASE_DIR=./data